.cantainer{
    margin: auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.items{
    font-size: 30px;
    height: 500px;
    text-align: center;
    line-height: 500px;
    
}
.item1{
    background-color: brown;
    flex-basis: 20%;
}
.item2{
    background-color: blue;
    flex-basis: 40%;
}
.item3{
    background-color: rgb(248, 18, 18);
    flex-basis: 20%;
}


.cantainer2{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.items2{
    font-size: 30px;
    height: 100px;
    text-align: center;
    flex-basis: 15%;
}
.item4{
    background-color: rgb(0, 255, 21);
}
.item5{
    background-color: rgb(255, 38, 0);
}
.item6{
    background-color: rgb(0, 60, 255);
}
.item7{
    background-color: rgb(241, 83, 207);
}
.item8{
    background-color: rgb(200, 255, 0);
}
.cantainer3{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 1140px;
    display: flex;
    margin-bottom: 20px;
}
.items3{
    font-size: 30px;
    height: 300px;
    text-align: center;
    flex-basis: 50%;
}
.item9{
    background-color: rgb(241, 83, 207);
}
.item10{
    background-color: rgb(200, 255, 0);
}
