h1 {
    font-size: 40px;
    color: brown;
}
.body1 {
font-size: 25px;
}
.head2{
    color: #bec8ff;
}
.body2{
    margin-left: 20px;
    font-size: 20px;
}
.link1 {
    font-style: italic;
    color: yellow;
}