* {
    box-sizing: border-box;
}

.form-block {
margin-top: 65px;
}
.page-authorization{
    width: 375px;
    background-color: rgb(195, 195, 228);
margin: auto;
padding-left: 20px;
padding-right: 20px;

}
body {
    margin: 0;
    padding: 0;
}
.logo{
    margin-left: 20px;
    margin-top: 35px;
}
.login-text {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}
.enter-data {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
}
.attention {
    display: flex;
    width: 100%;
    height: 70px;
    border-radius: 8px;
    background-color: aquamarine;
    margin-top: 40px;

}
.prompt {
    width: 24px;
    height: 24px;
    background-color: brown;
    margin-top: 23px; margin-left: 13px;
}
.em-pass-text {
background-color: blueviolet;
width: 271px;
height: 44px;
margin-left: 12px;
margin-top: 13px    ;
}
