.square {
    width: 200px;
    height: 200px;
    background-color: blue;
    color: antiquewhite;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    border: 10px solid black;
}
.circle {
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    color: aliceblue;
    padding: 30px;
    box-sizing: border-box;
    border: 5px solid hotpink;
}
.rectangle {
    margin-top: 75px;
    height: 100px;
    background-color: orange;
    color: white;
    box-sizing: border-box;
    padding: 30px;
    border: 15px solid green;
}
